body {
  background-image: url("./first/Cloud.JPG");
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}

  .content {
    width: 600px;
    height: 500px;
    border: 3px solid black;
  }

  img {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
